@import "../mixins";
@import "../vars";


h1 {
  margin: 0;
  padding: 10px 0;
  @include font-size(60px);
  text-align: center;
  background-image: url(../img/cat.gif);
  color: $white;
  cursor: pointer;

  @include hover {
    color: $flat-amethyst;
  }

}

p {
  margin-top: 20px;
  text-align: center;
  @include font-size(26px);

}

.flying-cat {

  max-width: 450px;
  margin: 35px auto;

  img {
    max-width: 100%;
  }

}